@use './variables.scss' as *;

@use 'sass:color';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  transition: background-color 0.3s ease; // Add transition for html background
}

body {
  font-family: $font-main;
  color: $primary-color; // Default text color
  transition: background-color 0.3s ease, color 0.3s ease; // Add transition
}

.dashboard.dark {
    background-color: $dark-background; // Dark mode background for body
    color: $dark-text-color; // Dark mode text color for body
  }


.dashboard.light {
    background-color: $light-color; // Light mode background for body
    color: $light-color; // Light mode text color for body
  }


a {
  text-decoration: none;
  color: inherit;
}

/* Exemple pour bouton global */
.button {
  background-color: $accent-color;
  color: $light-color;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: color.adjust($accent-color, $lightness: -10%);
  }
}
