// 🎨 Couleurs principales
$primary-color: #0a3d62; // Bleu marine
$secondary-color: #74b9ff; // Bleu ciel
$accent-color: #ff6b81; // Rose
$light-color: #ffffff; // Blanc

// 🖋 Typographie
$font-main: 'Arial', sans-serif;
// src/styles/_variables.scss

// Couleurs principales
$blue: #0b5ed7;
$white: #ffffff;
$pink: #ff66a3;
$gradient-main: linear-gradient(90deg, #003bb0, #ff00ff); // bleu → rose


// Hauteur de la barre de navigation
$nav-height: 64px;

// Autres (optionnels, utiles plus tard)
$gray-light: #f5f7fa;
$gray-dark: #333333;
$shadow: 0 6px 24px rgba(0,0,0,0.08);
