@use '../../styles/variables.scss' as *;

.sidebar {
  width: 235px;
  background: $primary-color; // bleu uniforme
  color: $light-color;
  padding: 1rem;
  position: fixed;
  left: 0;
  transition: transform 0.3s ease;
  z-index: 1000;
  border: 1px solid $light-color;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 0.6rem;

      a {
        display: block;
        padding: 0.6rem 0.8rem;
        border-radius: 8px;
        color: $gradient-main;
        text-decoration: none;

        &:hover {
          background: rgba($light-color, 0.1);
        }
      }

      .active {
        background: $gradient-main;
        color: $light-color;
      }
    }
  }
}

.overlay {
  position: fixed;
  left: 0;
  width: 100%;
  background: $primary-color;
  z-index: 999;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    transform: translateX(-100%);

    &.open {
      transform: translateX(0);
    }
  }
}
